<h1>Recipes</h1>
<% @recipe.each_with_index do |recipe,index| %>
    <div class="recipes">
        <%= link_to recipe_path(recipe.id) do %>
            <ul class="recipes-title" >
                <li>Recipe:<%= index + 1 %></li>
                <li><%= recipe.name %></li>
            </ul>
            <ul class="recipes-desc">
                <li><%= recipe.description%></li>
            </ul>
        <% end %>
        <%= link_to 'Delete', recipe_path(recipe), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                            }  %>
    </div>
<% end %>
